<!DOCTYPE html>
<html>
{% extends 'base.html' %}
{% load static %}
{% block content %}
<head>
    <title>Manu</title>
    <link rel="stylesheet" href="{% static 'styles/styles.css' %}">
</head>

<body>
<h1 class="h1-menu">Menu</h1>
<!--Begin col-->
<div class="column">
    {% for item in menu.menu %}
    <p>
        <p class="item-name-style"> {{ item.name }} </p>
        <span class="menu-price">
            ${{ item.price }}.00
        </span>
    </p>
    <br>

    {% endfor %}
</div>
<!--End col-->
{% endblock %}
</body>
</html>
